<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>All Posts</title>
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
    <header>
      <h1>Blog With Me!</h1>
    </header>

    <main>
      <% for (let post of posts) { %>
        <div class="post-card">
          <h3 class="user">@<%= post.username %></h3>
          <p class="content"><%= post.content %></p> <br />
          <div class="btn-container">
            <div class="btn-id" onclick="window.location.href='/posts/<%= post.id %>';">Show In Detail</div>
            <div class="btn-id" onclick="window.location.href='/posts/<%= post.id %>/edit';">Edit</div>
            
               <form method="POST" action="/posts/<%=post.id%>?_method=DELETE" style="display: inline; all: unset;">
              <button class="btn-id" type="submit">Delete Post</button>
            </form>
            
          </div>
        </div>
      <% } %>

      <br /><br />
      <div class="parent">
        <div class="btn" onclick="window.location.href='/posts/new';">Create New Post</div>
      </div>
    </main>
  </div>
</body>
</html>
